#menu li {
     display: inline-block;
      padding-left: 15px;
      padding-right: 15px; 
      margin: 10px;
      border: 1px solid greenyellow;
      border-radius: 15px;
      cursor: pointer;
      outline: none;
      
    }
    #menu li:hover {
        background-color: greenyellow;
        color: grey;
    }

    #menu {
      border-bottom: 2px solid black ;
      margin-bottom: 10px;
      top:0;
      position: sticky;
      background-color: white;
    }