<div class="container">

  <div style="border-bottom: 2px solid black ; margin-bottom: 10px;">
    <ul>
      <li [queryParams]="{'name':'Paul', 'lastname': 'Smith'}" [routerLink]="['parent']">Parent</li>

      <li [routerLink]="'task'">Task</li>

      <li [routerLink]="['taskdetail', 10, 233]">Task Details</li>
      <li [routerLink]="'customer'">Customer</li>
      <li [routerLink]="'customer/order'">Order</li>
    </ul>
  </div>
  <button (click)="navigate()"> Navigate to Task</button>

  <h1 appHighlight>Hello Class</h1>


  <div *ngFor="let customer of customers">
    {{customer|greet}}

  </div>

  {{dataItems1|json}}

  {{dataItems|json}}

  {{testData |json}}

  <div style="border: 1px solid black;  padding: 5px; width: 100%; padding: 5px;">


    <router-outlet> </router-outlet>




    <div>
      <!-- Button trigger modal -->

      <button type="button " class="btn btn-sm btn-primary" data-toggle="modal" data-target="#exampleModal">
        Launch demo modal
      </button>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Great, Modal works!!!
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>