<div style="border: 2px solid blue;  width: 100%; padding: 5px">
    <ng-content></ng-content>
    <p>child works!</p>

    <h4>Hello {{message.name}}</h4>

    <h3>Counter in Child : {{couterInChild}}</h3>

    <h3>Counter in child to be pass to Parent : {{countertoPasstoParent}}</h3>
    <button class="btn btn-warning" (click)="increment()"> Increment</button>
    <hr>
    <button class="btn btn-warning" (click)="decrement()"> Decrement</button>


    {{flag}}

    {{getMessage() |json}}

    <input #myinput type="text" value="initial value" (input)="setValue($event.target.value)">
    {{inputVal}}
    <button (click)="setValue()"> send data to component</button>


    <input type="text" value="sds" [(ngModel)]="inputVal2">
    {{inputVal2}}

    <button type="button" [disabled]="flag" class="btn btn-success"> Submit</button>
    <hr>
    <button type="button" class="btn btn-success" (click)="toggle()"> Toggle Table</button>


    <table *ngIf="flag" border="1">
        <tr>
            <th>No</th>
            <th>Value</th>
            <th>status</th>

        </tr>
        <tr *ngFor="let item of message; let i = index; let e=even;let o= odd " [ngClass]="{odd:o, even:e}">
            <td>{{i}}</td>
            <td>{{item.name}}</td>
            <td>{{o}}</td>
        </tr>

    </table>


</div>